<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>bjtuDemo</display-name>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestMoneyServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.RequestMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReservationMealServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.ReservationMealServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountResetServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.AccountResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestMoneyServlet</servlet-name>
    <url-pattern>/RequestMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReservationMealServlet</servlet-name>
    <url-pattern>/ReservationMealServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountResetServlet</servlet-name>
    <url-pattern>/AccountResetServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestReckoningServlet</display-name>
    <servlet-name>RequestReckoningServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.RequestReckoningServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestLogServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.TestLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestReckoningServlet</servlet-name>
    <url-pattern>/RequestReckoningServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestLogServlet</servlet-name>
    <url-pattern>/TestLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestReturnDepartServlet</display-name>
    <servlet-name>TestReturnDepartServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.TestReturnDepartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestReturnNameServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.TestReturnNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestRequestTfServlet</servlet-name>
    <servlet-class>bjtu.gruop7.servlet.TestRequestTfServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>TestReturnDepartServlet</servlet-name>
    <url-pattern>/TestReturnDepartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestReturnNameServlet</servlet-name>
    <url-pattern>/TestReturnNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestRequestTfServlet</servlet-name>
    <url-pattern>/TestRequestTfServlet</url-pattern>
  </servlet-mapping>
</web-app>